.user-table-container {
  max-width: 600px;
  margin: 20px auto;
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;

  th {
    background: #007bff;
    color: white;
    padding: 10px;
    text-transform: uppercase;
  }

  td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
}

/* Responsividade */
@media (max-width: 480px) {
  .user-table-container {
    width: 90%;
  }

  table {
    font-size: 12px;
  }
}
