<div class="container">
  <!-- Card de Cadastro -->
  <div class="card cadastro-card">
    <div class="card-body">
      <h2 class="card-title text-center">Criar Conta</h2>
      <app-user-form (userCreated)="onUserCreated($event)"></app-user-form>
    </div>
  </div>

  <!-- Card de Usuários Cadastrados -->
  <div class="card users-card">
    <div class="card-body">
      <h2 class="card-title text-center">Usuários Cadastrados</h2>
      <div class="table-responsive">
        <app-user-table [users]="users"></app-user-table>
      </div>
    </div>
  </div>
</div>
