<h3 class="justify-content-center mt-3 d-flex">Cadastro de Endereço</h3>

<form [formGroup]="addressForm" (ngSubmit)="addAddress()">
  <div class="form-group">
    <label for="zipcode">CEP</label>
    <input id="zipcode" formControlName="zipcode" type="text" class="form-control" placeholder="Digite o CEP"
           [textMask]="{mask: cepMask}" [ngClass]="{'is-invalid': addressForm.controls['zipcode'].invalid && addressForm.controls['zipcode'].touched}">
    <button type="button" class="btn btn-secondary mt-2" (click)="fetchAddress()">Buscar CEP</button>
    <small *ngIf="addressForm.controls['zipcode'].invalid && addressForm.controls['zipcode'].touched">
      CEP deve conter 8 dígitos numéricos.
    </small>
  </div>

  <div class="form-group">
    <label for="street">Rua</label>
    <input id="street" formControlName="street" type="text" class="form-control">
  </div>

  <div class="form-group">
    <label for="district">Bairro</label>
    <input id="district" formControlName="district" type="text" class="form-control">
  </div>

  <div class="form-group">
    <label for="city">Cidade</label>
    <input id="city" formControlName="city" type="text" class="form-control">
  </div>

  <div class="form-group">
    <label for="state">Estado</label>
    <input id="state" formControlName="state" type="text" class="form-control">
  </div>

  <div class="form-group">
    <label for="complement">Complemento</label>
    <input id="complement" formControlName="complement" type="text" class="form-control">
  </div>

</form>

<form [formGroup]="userForm" (ngSubmit)="submitForm()">
  <h3 class="justify-content-center mt-3 d-flex">Cadastro de Usuário</h3>
  <div class="form-group">
    <label for="name">Nome</label>
    <input id="name" formControlName="name" type="text" class="form-control" placeholder="Digite seu nome" [ngClass]="{'is-invalid': userForm.controls['name'].invalid && userForm.controls['name'].touched}">
    <small *ngIf="userForm.controls['name'].invalid && userForm.controls['name'].touched">
      Nome é obrigatório e deve ter no mínimo 3 caracteres.
    </small>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input id="email" formControlName="email" type="email" class="form-control" placeholder="Digite seu email" [ngClass]="{'is-invalid': userForm.controls['email'].invalid && userForm.controls['email'].touched}">
    <small *ngIf="userForm.controls['email'].invalid && userForm.controls['email'].touched">
      Insira um email válido.
    </small>
  </div>

  <div class="form-group">
    <label for="cpf">CPF</label>
    <input id="cpf" formControlName="cpf" type="text" class="form-control" placeholder="000.000.000-00"
           [textMask]="{mask: cpfMask}" [ngClass]="{'is-invalid': userForm.controls['cpf'].invalid && userForm.controls['cpf'].touched}">
    <small *ngIf="userForm.controls['cpf'].invalid && userForm.controls['cpf'].touched">
      CPF deve estar no formato correto.
    </small>
  </div>

  <div class="form-group">
    <label for="phone">Telefone</label>
    <input id="phone" formControlName="phone" type="text" class="form-control" placeholder="(00) 00000-0000"
           [textMask]="{mask: phoneMask}" [ngClass]="{'is-invalid': userForm.controls['phone'].invalid && userForm.controls['phone'].touched}">
    <small *ngIf="userForm.controls['phone'].invalid && userForm.controls['phone'].touched">
      Telefone deve estar no formato correto (ex: (00) 00000-0000).
    </small>
  </div>

  <button type="submit" [disabled]="userForm.invalid" class="btn btn-success">Cadastrar</button>
  <button type="button" (click)="autoFill()" class="btn btn-secondary">Autopreencher</button>
</form>

<hr>

<h3>Usuários Cadastrados</h3>
<table class="table">
  <thead>
  <tr>
    <th>Nome</th>
    <th>Email</th>
    <th>CPF</th>
    <th>Telefone</th>
    <th>Endereços</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td>{{ user.name }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.cpf }}</td>
    <td>{{ user.phone }}</td>
    <td>
      <ul>
        <li *ngFor="let address of user.addresses">
          {{ address.street }}, {{ address.district }}, {{ address.city }} - {{ address.state }} (CEP: {{ address.zipcode }})
        </li>
      </ul>
    </td>
  </tr>
  </tbody>
</table>
